/* Global */
body {
  background: no-repeat center url("https://images.unsplash.com/photo-1515668236457-83c3b8764839?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ff928acc6d47d4e60b508b177c86c85c&auto=format&fit=crop&w=1534&q=80"); background-color: black; background-size: 80%;
  margin-top:0px; background-attachment: fixed;
  }

body{
    font-family: 'Tangerine', cursive;
  }

#nav{
  background-color: rgba(0,0,0, 0.5);
  padding-top:0px;
  padding-bottom: 60px; 
  padding-left: 10%;
  padding-right:10%;
  margin-left: 5%;
  color: white; 
  margin: 0px;
}

#nav h1 {
  display: inline;
  float:left;
  text-decoration: underline;
  font-size: 3em;
  float: left;
  padding-top: 0px;
  color: #AA8239;
  text-shadow: 1px 1px 1px #554426, 3px 3px 5px black;
  line-height: 3px;
  background-color: rgba(0,0,0, 0.5);
}

#nav li{
  float:right;
  display:inline;
  font-size: 30px;
  padding: 30 20 0 20
}
#title{
  padding-top:7px;
  background-color: rgba(0,0,0, 0.5);
}
#title h6{
  color: white;
  background-color: rgba(0,0,0, 0.5);
  font-size: 1.5em;
  margin:0px;
  float:left;
  width:100%;
  padding-left:8%;
}

#menuTitle{color:black; background-color: rgba(0,0,0, 0.5); text-align: center; font-size:1.6em; margin-top: 50px; margin-bottom: 1px;margin-right:40%; margin-left: 40%; width:20%; border-radius: 20px;background-color: rgba(100, 72.2, 22.4, 0.75);box-shadow: -1px 1px 12px 7px rgba(54,45,25,1);}

.menu{width:60%; margin-right:20%; margin-left: 20%; margin-top: 0%; margin-bottom:2%; background-color: rgba(100, 72.2, 22.4, 0.85); text-align: center; padding:5px;border-radius: 20px; box-shadow: -1px 1px 12px 7px rgba(54,45,25,1);}


h4{
  font-size: 2em;
}

span{
  text-decoration:underline; font-weight: 500; font-size: 1.1em;
}

#price{
  font-size:0.8em; text-decoration:none; 
}

p{ font-size:1.9em; line-height:0px;

}

.address{ 
  color: white; 
  background-color: black; 
}