/* Global */
body{ font-family: Arial, Helvetica, sans-serif; font-size: 15px; line-height: 1.5;
padding: 0px;
margin: 0px;
background-color: #f4f4f4; 
}

.container{
  width: 80%;
  margin: auto;
  /* centers the container in the page by making both margins the same automatically */
  overflow:hidden; 
  /* hides the scroll bar and hides anything that goes outside of the div. */ 
}

ul{
  margin: 0px;
  padding: 0px
}

/* header */
header{
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  /* causes the height to adjust when done a smaller screen makes it responsive */
  border-bottom: #e8491d 3px solid;
}

header a{
 /* only effects only a-tags(links)in the header. */
  color: #ffffff;
  text-decoration: none;
  /* this removes the underline from the home, services and about links */
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding:0 20px 0 20px;
/* why bulletpoints disappeared:When you first create a list, the default display value is set to list-item. When you change it to display: inline-block; it is no longer recognized as a list item. */
}

header #branding{
  float:left;
}

header #branding h1{
  margin: 0px;
}

header nav{
  float:right;
margin-top: 10px;
}

header .highlight, header .current a{
  color: #e8491d;
  font-weight: bold;
}

header a:hover{
color:#cccccc;
font-weight:bold;
}