body {
	background-image: url(budlight.jpg);
	background-size: cover;
}

.navbar-brand {
	font-family: 'Lobster', cursive;
	color: red;
	text-decoration: underline;
	background-color: black;
	border: dotted gold 3px;
	border-radius: 11px;
	width: 90px
	
}

h1 {
	font-size: 80px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: 'Lobster', cursive;
	color: red;
	text-decoration: underline;
	background-color: black;
	border: dotted gold 5px;
	border-radius: 20px;
}


.col-sm {
	display: flex;
	justify-content: flex-end;
	font-family: 'Lobster', cursive;
	color: white;
	text-decoration: text-shadow;
}



p {
	float: center;
	font-family: 'Lobster', cursive;
	font-size: 30px;
	color: white;
}

li {
	float: center;
	font-family: 'Lobster', cursive;
	font-size: 25px;
	color: white;
}

.buttoncontainer:hover {
	transform: scale(1.1);
	transition: all 1s;
}
.buttoncontainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(0, 0, 0, 0.5);
	width: 75%


}
.containerfooter {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-family: 'Lobster', cursive;
	color: white;
	text-decoration: text-shadow;
	width: 100%
}

img:hover {
	transform: scale(1.1);
	transition: all 1s;
}

.col-lg	{
	width: 120%
	background-color: rgba(0, 0, 0, 0.5);
}